html {
    background-color: hsl(212, 45%, 89%);
    width: 100%;

}

/* Mobile Design */

body {
    background-color: white;
    border-radius: 20px;
    margin: 156.5px 27.5px;
}

.container img {
    border-radius: 10px;
    width: 100%
}

@media (min-width: 375px) and (max-height: 812px) {
    body {
    background-position: center, center;
    }
}

/* Desktop Desingn */

.attribution { 
  font-size: 12px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

h1 {
    font-family: Outfit;
    font-weight: 700;
    margin: 16px;
}

p {
    font-family: Outfit;
    font-weight: 400;
    color: hsl(216, 15%, 48%)
}