body {
    background: hsl(212, 45%, 89%);
}

/* Mobile Design */

@media (min-width: 375px) {
    body {
        background-color: white;
        border-radius: 10px;
        font-weight: 50%;
    }
}

/* Desktop Desingn */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

h1 {
    font-family: Outfit;
    font-weight: 700;
}

p {
    font-family: Outfit;
    font-weight: 400;
    color: hsl(216, 15%, 48%)
}